
body {
  background: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(../img/background.webp) no-repeat;
  background-size: cover;
  font-family: arial;
  font-size: 16px;
  height: auto;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3); 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.3em;
}

#container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

header {
  display: inline-block;
  padding: 20px; 
  width: 450px;
}

.avatar img {
  border: 5px solid;
  border-radius: 50%;
}

.personal {
  color: #ffffff;
  font-size: 1.1rem;
}

#webs article {
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 150px;
}

#webs article img {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  opacity: 0.8;
}

#webs article:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  opacity: 1;
}

/* Smartphones */
@media screen and (max-width:480px) {
  
  header {
    display: block;
    text-align: center;
    width: auto;   
  }
  
  .avatar {
    display: inline-block;
    margin: 10px 0;
  }
  
} 
/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    height: 100vh; /* The body element is always 100% of the viewport's height. */
  }
}
