
body{
  background: url(../img/cover.jpg) no-repeat;
  background-size: cover;
  font-family: arial;
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3); 
}

#contenedor{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

header{
  display: inline-block;
  padding: 20px; 
  width: 450px;
}

.avatar img{
  border: 5px solid;
  border-radius: 50%;
}

.personal{
  color: #ffffff;
  font-size: 1.1rem;
}

#webs{
  text-align: center;
}

#webs article{
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 150px;
}

#webs article img{
  -webkit-transition: .3s;
  -moz-transition: .3s;
  opacity: 0.8;
}

#webs article:hover img{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  opacity: 1;
}

@media screen and (max-width:480px){
  nav ul li{
    width: 50%;
  }
  
  header{
    display: block;
    text-align: center;
    width: auto;   
  }
  
  .avatar, .personal{
    float: none;
  }
  
  .avatar{
    display: inline-block;
    margin: 10px 0;
  }
  
} 